html, body
{
    margin: 0;
    height: 100%;
    width:100%;
    overflow-x: hidden;
    /*overflow: hidden;*/
}

body {
    background-color: #fff5ff;
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.banner {
    width:100%;
    min-height:22px;
    margin: 0;
    border-style: hidden;
    background-color: #fff;
    color: #bab3ba;
    text-align: center;
}

.jumbotron {
    background-color: #fcc5fa;
    color: #fff;
    padding: 2rem 2rem;
    height:70vh;
    text-align: center;
    border-style: hidden;
    margin: 0;
}

.buttonMenu {
    background-color: #dbdbdb;
    color: #fff;
    width: 100%;
    height:10vh;
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
    margin:0;
    border-style: hidden;
}

.buttonSection {
    background-color: #fff;
    color: #fcc5fa;
    width: 100%;
    /*text-align: left;*/
    /*padding: 5rem 5rem 5rem 5rem;
    border: 1px solid #bab3ba;*/
    height:16vh;
    border-style: hidden;
    /*margin : 0;*/
}

button {
    background-color: #fcc5fa;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    border: 3px solid white;
    text-align: center;
    /*padding: 2rem 2rem 2rem 2rem;*/
    float: left;
    width: 445px;
    position: relative;
    bottom: -5px;
    margin-left: auto;
    margin-right: auto;
    left:8px;
    height:14vh;
}

.title {
    background-color: #dbdbdb;
    color: 000000;
    width: 100%;
    height:11vh;
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
    margin:0;
    border-style: hidden;
    vertical-align: middle;
}

.textSection {
    padding: 1rem 2rem 1rem 2rem;
    margin:0;
    width: 100%;
    border-style: hidden;
}

.imageSection {
    padding: 1rem 2rem 1rem 2rem;
    border-style: hidden;
    text-align: center;
    vertical-align:middle;
    margin : 0;
    width: 100%;
    display : block;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Headings*/

h1 {
    font-family: 'Lucida Calligraphy', cursive;
    font-size: 150px;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

h6 {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}







